/vendor/
node_modules/
composer.lock

.phpunit.result.cache
.phpunit.cache
/.phpunit.cache/
/coverage/

/.idea/
/.vscode/
/nbproject/
/*.iml
.DS_Store
Thumbs.db

*.log
/storage/
.env
.env.*

/public/vendor/
